.chinese-text{
    font-family: Auraka點陣宋, serif;
}

.english-text{
    font-family: "AlphaSmart 3000", serif;
}


.no-underline-a{
    text-decoration: none;
    color: white;
}

.no-underline-a:hover{
    color: #d4d4d4;
    text-decoration: none;
}