html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url("../img/BackLogo.png");
    background-repeat: no-repeat;
    background-position: center;
    /*background-size: 19.20vw 9.62vw;*/
    background-size: 49.92vw 25.246vw;
    background-attachment: fixed;
}

#main{
    width: 100%;
    height: 100%;
    padding: 0;
    /*opacity: 30%;*/
}

#nav{
    width: 100%;
    height: 120px;
    background-image: linear-gradient(#630000, #000000);
}

#logo{
    height: 100%;
    padding: 0;
    margin-right: 10vw;
}

#logo-div-img{
    width: 100%;
    height: 100%;
}

#logo-text{
    font-size: 35px;
}

#logo-text2{
    font-size: 13px;
}

#collapsibleNavbar{
    font-size: 0.9vw;
}

.bar-list{
    margin-right: 1vw;
}

.bar-list:hover{
    font-size: 1vw;
    color: white;
}

#main-body{
    width: 100%;
    color: white;
}

#left-nav{
    height: 36vw;
    padding-top: 0.5vw;
    margin-top: 1.5vw;
    border: rgba(255, 255, 255, 0.5) 1px solid;
    border-radius: 1vw 1vw;
    box-shadow: 0 0 1.0vw 0.2vw rgba(255, 255, 255, 0.5) inset;
    overflow: auto;
}

.left-nav-text{
    font-size: 1.2vw;
}
.left-nav-description{
    font-size: 0.9vw;
}

#right-content{
    margin-top: 1.5vw;
}

.content-iframe{
    height: 17.5vw;
    border: rgba(255, 255, 255, 0.5) 1px solid;
    border-radius: 1vw 1vw;
    box-shadow: 0 0 1.0vw 0.2vw rgba(255, 255, 255, 0.5) inset;
    margin-bottom: 1vw;
    overflow: auto;
    padding: 0;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.dropdown-menu{
    background-image: linear-gradient(#1E0000, black, #202020);
    /*border-radius: 1vw 1vw;*/
}

.dropdown-menu a{
    color: white;
    font-size: 0.3vw;
}